@font-face {
  font-family: 'FZCSJW';
  /* src引入需要精简的ttf字体文件 */
  src: url('./FZCSJW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "FZCSJW";
}
.ttf {
  font-family: 'FZCSJW';
}